@import 'tailwindcss';

:root[data-theme='black_and_white'] {
    --color-main: hsl(0, 0%, 93%);
    --color-main-highlight: hsl(0, 0%, 100%);
    --color-main-muted: hsla(0, 0%, 80%);
    --color-details: hsl(0, 75%, 50%);
    --color-alert: hsl(0, 75%, 50%);
    --color-warning: hsl(0, 75%, 50%);
    --color-contrast: hsl(0, 2%, 11%);
    --color-contrast-highlight: hsl(0, 0%, 0%);
    --color-contrast-muted: hsl(0, 10%, 20%);
}

:root[data-theme='sepia'] {
    --color-main: hsl(0, 28%, 33%);
    --color-main-highlight: hsl(0, 25%, 50%);
    --color-main-muted: hsl(0, 25%, 18%);
    --color-details: hsl(0, 75%, 50%);
    --color-alert: hsl(0, 75%, 50%);
    --color-warning: hsl(0, 75%, 50%);
    --color-contrast: hsl(0, 40%, 95%);
    --color-contrast-highlight: hsl(0, 40%, 100%);
    --color-contrast-muted: hsla(0, 10%, 80%);
}

/* Document level adjustments */
html {
    font-size: 17px;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 0;
}
@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

/* Modules will scale with document */
.page-header {
    font-size: 1.5rem;
}
.page-footer {
    font-size: 0.75rem;
}
.sidebar {
    font-size: 0.85rem;
}

/* Type will scale with modules */
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}

/* layout */
:root {
    --max-content-width: 1000px;
    width: 100%;

    background-color: var(--color-main);
    color: var(--color-contrast);
}
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-header {
    width: 100%;
    max-width: var(--max-content-width);
    margin: auto;
}
.page-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar {
    float: right;
    width: 25%;
}
.page-footer {
    color: var(--color-contrast-muted);
    flex-shrink: 0;
    clear: both;
    padding-top: 2em;
}
.global-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}
.global-nav > .inner {
    max-width: var(--max-content-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.session {
    padding: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
